@inherits LayoutComponentBase

<div class="layout-container">
    <aside class="sidebar">
        <!-- Main Page link solo at the top -->
        <section class="sidebar-section">
            <h2 class="sidebar-title">
                <a class="text-decoration-none text-light" href="/">Main Page</a>
            </h2>
        </section>

        <!-- Contents section -->
        <section class="sidebar-section">
            <ul class="sidebar-list">
                <li><a href="/show-authors">Authors</a></li>
                <li><a href="/show-publishers">Publishers</a></li>
                <li><a href="/show-genres">Genres</a></li>
                <li><a href="/show-books">Books</a></li>
                <li><a href="/filter-books-authors">Filter books</a></li>
                
            </ul>
        </section>


        <section class="sidebar-section">
            <ul class="sidebar-list">
                <li><a href="/book-chart">Books Chart</a></li>
                
                <li><a href="/genre-chart">Genre Chart</a></li>

            </ul>
        </section>
    </aside>

    <main class="main-content">
        <article class="content pt-5">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
